.number-product {
  border: 1px solid gray;
  color: black;
  height: 30px;
  width: 40px;
  border-radius: 0;
  font-size: medium;
  text-align: center;
  padding-top: 5px;
}
.button-order-style {
  background-color: crimson;
  color: aliceblue;
  width: 100%;
}

.infor-product-container {
  background-color: white;
}
.button-group {
  margin-left: 30px;
  margin-right: 20px;
}
.item-product {
  height: 200px;
}
.cost-container-right {
  background-color: aqua;
  margin-left: 10px;
  width: 300px;
}
.producInfor {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-product-cart {
  display: inline-block;
  font-size: 14px;
  text-align: left;
  margin-bottom: 5px;
  width: 100%;
  color: black;
}

.infor-container {
  justify-items: center;
  margin-top: auto;
  margin-bottom: auto;
}
.cart-title {
  font-size: 20px;
  margin-left: 30px;
  font-weight: normal;
  display: inline-block;
  text-align: left;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}
.image-product-cart {
  width: 200px;
  height: 200px;
  margin-left: 10px;
}
.gridContainer {
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

h4 {
  display: inline;
}

.deleteButton {
  font-weight: bold;
  font-size: 10px;
}

.count {
  border: 1px solid gray;
  margin-right: 10px;
  width: 120px;
  border-radius: 10px;
}

.iconStyle {
  font-size: 20px;
  color: gray;
}

.cart-container {
  min-height: 480px;
  background-color: rgb(244, 244, 244);
  width: 100%;
}
