.item {
  text-align: left;
  height: 40px;
  margin-top: 10px;
  width: 100%;
}
.notifi-button-item {
  width: 100%;
  text-align: left;
}
.listTitle {
  color: black;
  border-bottom: 1px solid gray;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.textNotifi {
  font-size: 17;
  font-weight: normal;
  margin: 10px;
  text-align: left;
  width: 600px;
}

.notification-container {
  min-height: 500px;
  margin-left: 200px;
  margin-right: 200px;
}
